$nav-bg-color: #519ee1;
$nav-left-bg-color: #b3c8ca;
$left-content-bg-color: #f1f5f8;

$light-text-color: #fff;
$dark-text-color: #333;
$grey-text-color: #c3c7ca;

$grey-border-color: #c3bebe;

$font-family: "Roboto", serif;

$main-radius: 5px;
$main-padding: 5px;
$container-padding: 1rem;
